{% extends "abbellimento.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Login</h2>

                <form method="post" action="/login">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Email:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                {{ error_message }}
                <div class="text-center">
                    <p class="mb-2">Non ancora registato?</p>
                    <form action="/registration" method="get">
                        <button type="submit" class="btn btn-outline-secondary">Registrati</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}